@media only screen and (min-width: 1401px) {
	.associations {
		background: linear-gradient(#3E205A 100px, #324a80 1100px, #bd1114 1800px, #000000 2150px, #857979 3400px, #3E205A 3800px, #000000 4100px);
		padding-top: 150px
	}
	.aboutpage-container {
		padding: 25px 450px;
	}
}

@media only screen and (min-width: 577px) {
	.site-title .site-background .text-left {
		padding-left: 100px;
	}
	.mb-9 {
		margin-bottom: 9rem!important;
	}
	.associations {
		background: linear-gradient(#3E205A 100px, #324a80 1200px, #bd1114 1900px, #000000 2600px, #857979 4000px, #3E205A 4200px, #000000 4450px);
		padding-top: 150px
	}
	.associations .container-fluid {
		padding: 0px 50px;
	}
	#header-nav img {
		display: none;
	}
	.aboutpage-container {
		padding: 25px 250px;
	}
	.blogContentContainer {
		padding: 30px;
	}
	#accordion .row {
		border-bottom: 1px solid #000;
	}
	.blogContent.fw-600 {
		padding-top: 150px;
	}
	/* Partners */
	.partners-cover {
		padding: 0px 30px;
		margin-top: 150px;
		filter: brightness(.8);
	}
	.partners-cover img {
		height: 60vh;
	}
	.partners-section,
	.partners-section2 {
		padding: 0px 100px;
	}
	.partners-section2 img {
		border-top: 6px solid #000;
	}
	.partners-section img {
		height: 350px;
	}
	.partners_latest_blogs_title {
		padding: 32px 52px 12px 52px;
		line-height: 28px;
	}
	.allBlogsSection {
		margin: 150px 80px;
	}
	#collapsibleBlogCategories {
		padding: 0px 100px;
	}
}

@media only screen and (max-width: 576px) {
	/* Global classes for mobile */
	.mfo-35 {
		font-size: 35px!important;
	}
	.mfo-32 {
		font-size: 32px!important;
	}
	.mfo-30 {
		font-size: 30px!important;
	}
	.mfo-25 {
		font-size: 25px!important;
	}
	.mfo-24 {
		font-size: 24px!important;
	}
	.mfo-22 {
		font-size: 22px!important;
	}
	.mfo-20 {
		font-size: 20px!important;
	}
	.mfo-18 {
		font-size: 18px;
	}
	.mfo-17 {
		font-size: 17px!important;
	}
	.mfo-16 {
		font-size: 16px!important;
	}
	.mfo-15 {
		font-size: 15px!important;
	}
	.mfo-14 {
		font-size: 14px!important;
	}
	.mfo-13 {
		font-size: 13px!important;
	}
	.mfo-12 {
		font-size: 12px!important;
	}
	.mfo-11 {
		font-size: 11px!important;
	}
	.mow-100 {
		width: 100%!important;
	}
	.mow-90 {
		width: 90%!important;
	}
	.mow-40 {
		width: 40%!important;
	}
	.mlh-19 {
		line-height: 1.9em;
	}
	/* Custom classes begins */
	.whatsapp_icon {
		font-size: 50px;
	}
	.whatsapp_icon img {
		width: 50px;
		height: 50px;
	}
	.navbar-brand {
		padding: 10px 0px 10px 30px;
	}
	.site-title {
		background: url('../img/cover_image_mobile.jpg');
		background-size: cover;
		height: 56vh;
		margin-top: 20px;
	}
	.site-title .site-background {
		padding-top: 3.5rem;
	}
	.about-container {
		padding: 0px 20px 20px 20px;
		margin-top: 45px;
	}
	.about-quote {
		margin-left: 0px
	}
	.mb-9 {
		margin-bottom: 4rem!important;
	}
	.associations {
		background: linear-gradient(#3E205A 50px, #324a80, #bd1114 3200px, #000000 3850px, #857979, #3E205A 6200px, #000000 6300px);
		padding-top: 60px
	}
	.blog-section {
		padding-top: 60px;
	}
	.blog-body {
		padding: 20px 32px 20px 32px;
	}
	#blogSlider {
		height: 60vh;
	}
	#blogSlider label {
		width: 50%;
	}
	.blogcardimage {
		height: 125px;
	}
	.blog-body {
		padding: 20px 16px 10px 16px;
		line-height: 1em;
	}
	.blog-footer {
		padding: 8px 16px;
	}
	nav .navbar-nav {
		padding-bottom: 30px;
		border-bottom: 1px solid #fff;
	}
	.navExtras {
		padding: 30px;
	}
	.navExtras div a {
		color: #8c8989;
	}
	.aboutpage-container {
		padding: 15px 10px;
	}
	.aboutpage-container .row {
		margin-bottom: 15px!important;
	}
	.aboutpage-container .col-2 {
		padding: 0;
		height: 70px!important;
	}
	.aboutpage-container .row .col-2 img {
		max-height: 70px!important;
		margin: auto;
	}
	/* Blogs page*/
	.blogImageContainer {
		max-width: 100%;
		margin-top: 95px;
	}
	.blogHeading {
		font-size: 25px;
		line-height: 1.4em;
		padding: 0px 15px;
	}
	.blogWriter {
		text-align: center;
		padding: 60px 20px 30px 20px;
	}
	.blogWriter .row {
		padding: 0px;
	}
	.blogWriter img {
		width: 140px;
		height: 140px;
	}
	.blogContent.fw-600 {
		padding-top: 80px;
	}
	.stickyContents {
		box-shadow: 0px 10px 12px 0px rgb(0 0 0 / 15%);
	}
	/* Partners */
	.partners-cover {
		padding: 0px;
		margin-top: 67px;
		filter: brightness(.8);
	}
	.partners-cover img {
		height: 45vh;
	}
	.partners-section img {
		height: 225px;
	}
	.partners_latest_blogs_title {
		padding: 12px 6px;
		line-height: 18px;
	}
	.allBlogsSection {
		margin: 70px 0px;
	}
	#collapsibleBlogCategories {
		z-index: 9999;
		position: absolute;
		background-color: #000;
		top: 48px;
	}
	#collapsibleBlogCategories .col-sm-2 {
		padding: 12px;
	}
	.imageOverlay {
		padding-top: 35px;
	}
	.mo-active {
		background-color: #FFE972;
		color: #000!important;
	}
	/*Services page */
	.services-banner{
		height: 140px;
		margin-top: 66px;
	}
	.services-banner h1 {
	    padding-top: 47px;
	    font-size: 25px;
	}
	.services-list{
		padding: 15px 10px;
	}
}