@media only screen and (min-width: 577px) {
	.site-title .site-background .text-left{
		padding-left: 100px;
	}
	.accomplishments{
		background: linear-gradient(#3E205A 50px, #324a80, #bd1114 1250px, #000000 1700px, #ffffff 5000px); 
		padding-top: 60px
	}
	.accomplishments .container-fluid{
		padding: 0px 50px;
	}

}
@media only screen and (max-width: 576px) {
	.whatsapp_icon{
		font-size: 50px;
	}
	.whatsapp_icon img {
	    width: 50px;
	    height: 50px;
	}
	.navbar-brand {
		padding: 10px 0px 10px 30px;
	}
	.site-title {
		background: url('../img/cover_image_mobile.jpg');
		background-size: cover;
		height: 57vh;
		margin-top: 20px;
	}
	.site-title .site-background {
		padding-top: 3.5rem;
	}
	.about-container{
		padding: 0px 20px 20px 20px;
		margin-top: 45px;
	}
	.about-quote{
		margin-left: 0px
	}
	.accomplishments{
		background: linear-gradient(#3E205A 50px, #324a80, #bd1114 2400px, #000000 2700px, #ffffff); 
		padding-top: 60px
	}
	.blog-body{
		padding: 20px 32px 20px 32px;
	}
	.mfo-35{
		font-size: 35px!important;
	}
	.mfo-32{
		font-size: 32px!important;
	}
	.mfo-25{
		font-size: 25px!important;
	}
	.mfo-20{
		font-size: 20px;
	}
	.mfo-17{
		font-size: 17px!important;
	}
	.mfo-16{
		font-size: 16px!important;
	}
	.mfo-13{
		font-size: 13px!important;
	}
	.mfo-12{
		font-size: 12px!important;
	}
	.mfo-11{
		font-size: 11px!important;
	}
	.mow-90{
		width: 90%!important;
	}
	.mlh-19{
		line-height: 1.9em;
	}
}