#galleryList .col-sm-2 div, #headerimageList .col-sm-2 div{
    overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.cursor-pointer{
    cursor: pointer;
}
.bg-dark, .btn-dark{
    background-color: #000000!important;
    color: #fff;
}
th,td{
    text-align: center;
}

.w-10{
    width: 10%;
}
.w-70{
    width: 70%;
}
.w-90{
    width: 90%;
}
.fo-30{
    font-size: 30px;
}
#collapsibleNavbar{
    justify-content: space-evenly;
}
#readmorebutton p {
   color: #000;
    position: relative;
    display: inline-block;
    margin: 50px 100px;
}

#readmorebutton p:before {
    content: "";
    border: 1px solid #000;
    position: absolute;
    width: 50%;
    top: 16px;
    left: -95px;
}

#readmorebutton p:after {
    content: "";
    border: 1px solid #000;
    width: 50%;
    position: absolute;
    top: 16px;
    right: -95px;
}

#offerdetails_table, #display_coupons, #editMainServicesTable, #editServicesTable, #editSubservicesTable{
    display: none;
}
section{
    min-height: 90vh;
    padding-top: 70px;
}

#collapsibleNavbar li a{
    font-size: 14px;
    padding-left: 1rem;
    padding-right: 1rem;
}

#blogcontent img{
    width: 30%;
}
#blogcontent div{
    padding: 15px;
}